<%provide(:title, @catalog.catalog_name)%>
<div class="center jumbotron other-color">
  <h1><%=@catalog.catalog_name %></h1>
</div>

<div class="center jumbotron other-color">
<table>
  <thead>
    <tr>
      <th><h2>Topics</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
  </tr>
<% end %>
</table>

</div>
