<%provide(:title, @catalog.catalog_name)%>
<div class="center jumbotron other-color">
  <h1><%=@catalog.catalog_name %></h1>
</div>

<div class="center container">
  <div class="row">
    <% @topics.each do |topic| %>
      <div class="jumbotron col-md-3">
          <p>
  	    <%= topic.title %>
  	  </p>
      </div>
    <% end %>
  </div>
</div>
