<%provide(:title, "Home") %>
<div class="center jumbotron other-color">
  <h1>Welcome to Team Finder</h1>
  <p>
    Some stuff about the website goes here.
  </p>
</div>
<%= link_to image_tag("dota2logo.png", alt: "Dota2 Logo", height: '32', width: '32'),
	'http://blog.dota2.com/' %>
