@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* palette colors */
$light-gray: #777;
$white: #fff;
$dull-dark-green: #112222;
$dull-grey-green: #77aa99;
$dull-brown-green: #779988;
$dull-light-green: #99bbbb;
$dull-white-grey: #bbcccc;

/* universal */
html * {
  font-family: arial,helvetica,sans-serif !important;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {

  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.jumbotron {
  padding: 0.5em 0.6em;
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $dull-dark-green;
  }

  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
}


.jumbotron.col-md-3 {
  background-color: $dull-brown-green;
  border-radius: 20px;
  border: 2.5px solid $dull-dark-green;
  color: $dull-dark-green; 
  padding: 0 10px 0 10px;
  margin: 1%;
  width: 30%;
}

.other-color {
  background: $dull-white-grey;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  &:hover{
    color: $light-gray;
    text-decoration: none;
  }
}

header {
  color: $white;
  ul {
    color: $white;
    &:hover {
      color: $light-gray;
    }
  }
}

@media (min-width: 1000px) {
  .container{
    max-width: 970px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
}
