<footer class="footer">
  <small>
    Developed by <a href="https://github.com/philsher93/">Phillip Sheridan</a> 
    and <a href="https://github.com/wisard1862/">Daniel Swain Jr</a>
  </small>
</footer>
